@font-face {
  font-family: 'Product sans';
  src: url('./fonts/PS_bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Product sans';
  src: url('./fonts/PS_regular.ttf') format('truetype');
  font-weight: 400;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply bg-grey;
}

* {
  font-weight: 400;
  @apply font-main duration-300;
}

@layer components {
  .upperFont {
    @apply uppercase font-bold text-[36px];
  }

  .boldFont {
    @apply font-bold text-[28px];
  }

  .regularFont {
    @apply font-medium text-[16px];
  }
}
